// Shadow
$shadow-color-medium: 2.5px 4px 1.2px #ccccccff;

// Spacing
$x-small-spacing: 2px;
$small-spacing: 4px;
$medium-spacing: 8px;
$large-spacing: 12px;

// Radius
$x-small-radius: 2px;
$small-radius: 4px;
$medium-radius: 8px;
$large-radius: 12px;

// Colors;
$ligh-grey: #cccccc;
$dark-grey: #333333;
$white: #ffffff;
$dark-color: #343a40;
$light-color: #f8f9fa;
$primary-color: #007bff;
$secondary-color: #6c757d;
$danger-color: #dc3545;
$warning-color: #ffc107;
$success-color: #28a745;
$light-color: #f8f9fa;

// Border Width
$small-border-width: 1px;
$medium-border-width: 2px;
$large-border-width: 4px;
